.card {
  padding: 20px;
  background: white;
  margin: 10px;
  width: 100px;
  height: 75px;
  /* display: inline-block; */
}

.card:hover {
  background-color: gray;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.show {
  cursor: default;
  pointer-events: disabled;
  background-color: aqua;
}

.replay-btn {
  border-radius: 5px;
  border: 1px black solid;
}

.notification {
  position: absolute;
  top: 10%;
  left: 35%;
  background-color: aqua;
  width: 200px;
  text-align: center;
  padding: 0 0 10px 0;
}
